.cart-item {
    display: flex;
    justify-content: last baseline;
    margin-bottom: 20px;
}
.item-details p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item-details {
    flex: 1;
    margin-right: 20px;
}

.item-details img {
    max-width: 60px;
    height: auto;
    margin-bottom: 10px;
}

.item-details p {
    margin: 0;
}

.item-price {
    flex: 0 0 100px; /* Fixed width for price column */
    text-align: right;
    margin-right: 20px;
    line-height: 140px; /* Adjust line height to vertically align with other items */
}

.item-quantity {
    display: flex; /* Make the container a flexbox */
    align-items: center; /* Align items vertically */
    flex: 0 0 100px; /* Fixed width for quantity column */
    text-align: center;
    margin-right: 20px;
}
.cart-actions {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    margin-bottom: 20px;
}
.btn-1.checkout {
    background-color: #4CAF50; /* Green */
    border-color: #4CAF50;
}

.btn-1{
    text-decoration: none;
    border: 2 px solid;
    padding: 10px;
    border-radius: 4px;
    margin: 2px ;
    width: 100px;
    justify-content: center;
    background-color: rgb(31, 21, 21);
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}
.btn-1:hover {
    transform: scale(1.1); 
}

.quantity-btn {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin: 0 5px; /* Add margin between buttons */
}

.quantity-btn:hover {
    background-color: #e0e0e0;
}

.quantity-value {
    margin: 0;
    font-weight: bold;
}
